/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Main Wrapper */
.main-wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(35, 33, 33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Form Wrapper */
.form-wrapper {
  width: 50%;
  height: 60vh;
  background-color: rgb(14, 13, 13);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 15px rgb(77, 75, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.c-name {
  color: rgb(250, 250, 250);
}

.logo-image {
  width: 11%;
}

.wrapper-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper input {
  width: 80%;
  padding: 10px;
  border: none;
  height: 50px;
  border-radius: 5px;
}

.form-wrapper button {
  height: 50px;
  padding: 10px;
  border: none;
  width: 80%;
  background-color: rgb(184, 12, 12);
  color: white;
  border-radius: 5px;
}

.preview-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.link {
  color: white;
  text-decoration: none;
  margin-top: 10px;
  font-size: 15px;
}

/* Dashboard */
.dashboard-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(35, 33, 33);
  display: flex;
  color: white;
  padding-top: 60px; /* Adjust for fixed header */
}

.side-nav {
  width: 18%;
  background-color: rgb(14, 13, 13);
  padding: 10px;
}

.content-container {
  width: calc(100% - 250px);
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.content-container.full-width {
  width: 100%;
  margin-left: 0;
}

.profile-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 15px rgb(77, 75, 75);
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.active-menu-link {
  background-color: red;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.menu-link:hover {
  background-color: red;
}

/* Upload Video */
.upload-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(35, 33, 33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.upload-form {
  background-color: rgb(24, 22, 22);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 5px 5px 15px rgb(160, 153, 153);
}

.upload-form input, textarea, select {
  padding: 10px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.upload-form label {
  font-size: 15px;
}

.upload-form button {
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(184, 12, 12);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.thumbnail {
  height: 120px;
  width: 200px;
}

/* My Videos */
.videos-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px;
}

.videos-table img {
  width: 150px;
  height: 70px;
  border-radius: 10px;
}

tr:hover {
  background-color: #333;
  cursor: pointer;
}

.videos-table button {
  padding: 10px;
  border-radius: 10px;
}

/* Header */
.header {
  width: 100%;
  height: 60px;
  background-color: rgb(14, 13, 13);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.header-logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.header-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: rgb(14, 13, 13);
  padding: 20px;
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100% - 60px);
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
}

.profile-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 15px rgb(77, 75, 75);
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.menu-link,
.active-menu-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.active-menu-link {
  background-color: red;
}

.menu-link:hover {
  background-color: red;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: red;
}

/* Home */
.home-container {
  padding: 20px;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(184, 12, 12);
  color: white;
  cursor: pointer;
}

.filter-button.active {
  background-color: rgb(150, 10, 10);
}

.filter-button:hover {
  background-color: rgb(150, 10, 10);
}

.videos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video-item {
  width: 300px;
  cursor: pointer;
}

.video-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.video-info {
  padding: 10px;
}

.video-info h4 {
  margin: 0;
  font-size: 18px;
}

.video-info p {
  margin: 5px 0;
  color: gray;
}

.suggested-videos {
  width: 35%;
}

.video-box {
  width: 100%;
  height: 70vh;
}

.channel-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.channel-info {
  display: flex;
  height: 150px;
  width: 100%;
  align-items: center;
}

.channel-info span {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

.video-title {
  font-size: 25px;
}

/* Video Page */
.video-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  min-height: 100vh; /* Ensure the video page covers the full viewport height */
  background-color: rgb(35, 33, 33); /* Add background color */
}

.video-container {
  width: 65%;
  background-color: rgb(35, 33, 33); /* Add background color */
  padding-bottom: 20px; /* Add padding to the bottom */
}

.video-and-comment {
  width: 100%;
}

.video-box {
  width: 100%;
  height: 70vh;
}

.video-title {
  font-size: 25px;
  margin-top: 10px;
}

.views {
  color: gray;
  margin-top: 5px;
}

.channel-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.channel-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.channel-info p {
  margin: 0;
}

.subscribers {
  color: gray;
  font-size: 14px;
  margin-left: 10px;
}

.subscribe-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.subscribe-button:hover {
  background-color: darkred;
}

.video-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.like-button, .dislike-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.like-button:hover, .dislike-button:hover {
  color: gray;
}

.video-description {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.comments-section {
  margin-top: 20px;
}

.comments-section h4 {
  margin-bottom: 10px;
}

.comments-section form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.comments-section input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.comments-section button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.comments-section button:hover {
  background-color: darkred;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.comment p {
  margin: 0;
}

.comment p span {
  color: gray;
  font-size: 12px;
  margin-left: 10px;
}

/* Suggested Videos */
.suggested-videos {
  width: 30%;
}

.suggested-videos h3 {
  margin-bottom: 10px;
}

.suggested-video {
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
}

.suggested-video img {
  width: 150px;
  height: 80px;
  margin-right: 10px;
  object-fit: cover;
}

.suggested-video div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.suggested-video p {
  margin: 0;
  font-size: 14px;
}

/* Search Results */
.search-results-container {
  padding: 20px;
}

.search-results-container h2 {
  margin-bottom: 20px;
}

.videos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video-item {
  width: 300px;
  cursor: pointer;
}

.video-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.video-info {
  padding: 10px;
}

.video-info h4 {
  margin: 0;
  font-size: 18px;
}

.video-info p {
  margin: 5px 0;
  color: gray;
}

/* Media Queries */
@media (max-width: 1200px) {
  .content-container {
    width: calc(100% - 200px);
    margin-left: 200px;
  }

  .sidebar {
    width: 200px;
  }

  .video-container {
    width: 60%;
  }

  .suggested-videos {
    width: 40%;
  }
}

@media (max-width: 992px) {
  .content-container {
    width: calc(100% - 150px);
    margin-left: 150px;
  }

  .sidebar {
    width: 150px;
  }

  .video-container {
    width: 55%;
  }

  .suggested-videos {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .content-container {
    width: calc(100% - 100px);
    margin-left: 100px;
  }

  .sidebar {
    width: 100px;
  }

  .video-container {
    width: 100%;
  }

  .suggested-videos {
    width: 100%;
  }

  .video-page {
    flex-direction: column;
  }

  .video-actions {
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .content-container {
    width: 100%;
    margin-left: 0;
  }

  .sidebar {
    width: 100%;
    position: relative;
    top: 0;
    height: auto;
  }

  .video-container {
    width: 100%;
  }

  .suggested-videos {
    width: 100%;
  }

  .video-page {
    flex-direction: column;
  }

  .video-actions {
    justify-content: space-between;
  }

  .header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .header-left {
    width: 100%;
    justify-content: space-between;
  }

  .header-right {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }

  .search-form {
    width: 100%;
  }

  .search-input {
    width: 80%;
  }

  .search-button {
    width: 20%;
  }
}

